/* CSS stylesheet for Odin_LandingPage */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

img {
    width: 300px;
    height: 200px;
}

button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 6px 28px;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 50px 10px;
    background-color: #1F2937;
    font-size: 24px;
    font-weight: bold; 
    color: #F9FAF8;
}

.header .links {
    display: flex;
    gap: 30px;
    font-size: 18px; 
    font-weight: 400;
    color: #E5E7EB;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px 50px 10px;
    background-color: #1F2937;
}

.one .text {
    width: 500px;
    font-size: 18px; 
    color: #E5E7EB;
}

.one .text .title {
    font-size: 48px;
    font-weight: bolder; 
    color: #F9FAF8;
}

.one .text .button {
    margin: 20px 0px 0px 0px;
}

.two {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 10px 10px 50px 10px;
}

.two .title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.two .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 3em;
    padding: 0px 200px;
}

.two .images .image {
    width: 150px;
    min-width: 150px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.two img {
    width: 150px;
    height: 150px;
}

.three {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 10px 50px 10px;
    background-color: #E5E7EB;
}


.three .quote {
    text-align: left;
    width: 750px;
    min-width: 500px;
    max-width: 750px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.three .author {
    text-align: right;
    width: 750px;
    min-width: 500px;
    max-width: 750px;
    font-size: 20px;
    font-weight: bold;
    color: #1F2937;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 50px 60px 50px;
    background: white;
}

.four .fourchild {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    background: #3882F6;
    border-radius: 8px;
    word-wrap: break-word;
    font-size: 14px;
    color: #E5E7EB;
}

.four .fourchild .headertext {
    font-weight: bold;
    font-size: 18px;
}

button.button {
    border: 2px solid white;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    background-color: #1F2937;
    color: #F9FAF8;
}