/* CSS stylesheet for Odin_LandingPage */

body {
    display: flex;
    flex-direction: column;
}

img {
    width: 300px;
    height: 200px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 50px 10px;
    background-color: blue;
}

.header .links {
    display: flex;
    gap: 30px;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px 50px 10px;
    background-color: red;
}

.one .text {
    width: 300px;
}

.two {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 10px 10px 50px 10px;
    background-color: blue;
}

.two .title {
    display: flex;
    justify-content: center;
}

.two .images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 3em;
}

.two .images .image {
    width: 300px;
    min-width: 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.two img {
    width: 150px;
    height: 150px;
}

.three {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 10px 50px 10px;
    background-color: red;
}


.three .quote {
    text-align: left;
    width: 500px;
}

.three .author {
    text-align: right;
    width: 500px;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 50px 60px 50px;
    background: white;
}

.four .fourchild {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 60px 30px 60px;
    background: blue;
    border-radius: 8px;
    word-wrap: break-word;
}

.four .fourchild .text {
}

.footer {
    display: flex;
    justify-content: center;
    padding: 10px 10px 20px 10px;
    background-color: red;
}